 .wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
 }
     /* max-width: 10px;  */
     /* margin: 10em;
/* }  */

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* max-width: 10px; */
    /* margin-left: 0em; */
    border-color: red;
    margin-top: 4em;
    background-color: rgb(167, 202, 179);
    width: 25em;
    padding: 2em;
    border-radius: 0.5em;
    
  

}

.field{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* width: 10em; */
    flex-wrap: wrap;
    margin-bottom: 1em;
    border-color: aquamarine;
   
}

.submit{
    color: black;
    border-color: aqua;
    background-color: aquamarine;
    margin-top: 2em;
    border-radius: 0.5em;
    width: 7em;
}

.title{
    font-size: 2em;
    margin-top: 1em;
}